/* app css stylesheet */
body{
  background-color:black;
  background-image:url('../img/stripe.png');
}
.container{
  background-color:grey;
  box-shadow:0px 0px 10px 10px rgba(0,0,0,0.3);
  padding-top:44px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.dropdown-menu {
     background-color: #333;
}
li a {
      color: #999;
      text-shadow: 0 1px 0 rgba(0,0,0,.5);
    }